@charset "UTF-8"

/* Основа страницы */
    
html{
     height: 100%;
     font-size: 100%;
}        

body{
     -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
     font: 14px/32px 'Calibri', Arial;
     width: 100%;
     height: 100%;
     color: #fff;
     background: #fff;
     
}

/* Курсор для прокрутки */

.scrollup{
        z-index: 500;
        width:50px;
        height:50px;
        opacity: 0.7;
        position:fixed;
        bottom:30px;
        right:30px;
        display:none;
        text-indent:-9999px;
        background: url('icon_top.png') no-repeat;
        
}


/* Ссылки */

a {
     color: #2b2a29;
}

a:hover {
     color: #2b2a29;
}

a:focus{
     color: #2b2a29;
}

a:active{
     color: #2b2a29;
     text-decoration: none;
}

a:visited{
     color: #2b2a29;
     text-decoration: none;
}


/* Линия для свзяи */

.communication{
     height: 52px;
     color: #2b2a29;
     background: #ffc000;
}


.contact{
     font-size: 14px;
     padding: 8px 0;
}



/* Меню */
/*Скрытое меню*/




.navbar-default .navbar-toggle {
  border-color: #2b2a29;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2b2a29;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2b2a29;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
  font-weight: bold;
  color: #f1a83b;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #f1a83b;
  font-weight: bold;
  background-color: transparent;
}






/*Основное меню*/



.navbar{
       margin-bottom: 0;
     position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
       
}

.navbar-default{
    border-bottom: 3px solid #ffc000;
    background-color: #2b2a29;
    
    
}

.navbar-brand{
        float:left;
        height: 100%;
        padding: 0 0;
}

.navbar-right{
     margin-right: -40px;
}

.item-menu {
        font-size: 18px;
        margin: 30px 0;
        
}
.item-img {
        margin: 25px 15px;
        
}


/* Карусель фотографий */

#carousel{
    margin: 110px 0 0 0;
     -webkit-box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
        -moz-box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
          -o-box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
             box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
}



/* Режим работы */
.rezim_raboty{
       position: absolute;
        height: 100%;
        width: 100%;
        padding: 290px 0;
        text-align: right;
        z-index: 900;
        line-height: 50px;
        text-overflow: auto;
}

.carousel-caption{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 0 15px 0;
    
    background: rgba(0,0,0,0.4);
    text-align: center;
    
}

.car_b{ 
        height: 100%;
        width: 100%;
        color: #fff;
        font-weight: bold;
        line-height: 15px;
        padding: 0 0 2px 0;
        
}

.car_r{ 
        height: 100%;
        width: 100%;
        color: #fff;
        font-weight: bold;
        line-height: 5px;
        padding: 5px 0;
             
}


/* Заголовок и контент */

.hello{
    width: 100%;
    margin-bottom: 250px;
}


.content{
     top:100%;
     left: 0;
     width: 100%;
     vertical-align: middle;
     margin: 20px 0 0 0;
     text-align: center;
     
     padding: 20px 0;
}

.content_other{
     top:100%;
     left: 0;
     width: 100%;
     vertical-align: middle;
     margin: 40px 0 0 0;
     text-align: center;
     
}

.name{
     color: #2b2a29;
     font-size:55px;
     font-weight: bold;
     line-height:normal;
     padding: 15px 5px 5px 5px;
     
}

.name_other{
     color: #fff;
     font-size:45px;
     font-weight: bold;
     line-height:normal;
     padding: 0 5px 25px 5px;
     
}

.name-little{
     color: #0f846d;
     font-size: 22px;
     font-weight: bold;
     
}

.UP{
     color: #e3197f;
}

.cherta_ind{
        display: inline-block;
        max-width: 650px;
        width: 100%;
        height: 2px;
        background-color: #2b2a29;
        border-top: none;
        margin: auto;
        margin-bottom: 10px;
}

.content_price{
     
     left: 0;
     width: 100%;
     padding: 45px 0 0 0;
     margin-top: 110px;
     text-align: center;
}


#cherta{
        
        max-width: 650px;
        width: 100%;
        height: 2px;
        background-color: #2b2a29;
        border-top: none;
        margin: 20px 0 0 0;
}


.name_price{
     color: #2b2a29;
     text-align: center;
     font-size:36px;
     font-weight: bold;
     line-height:normal;
}

/* Расписание */

.schedule{
      color: #2b2a29;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      padding: 20px 5px;
      margin-top: 0;
}

#sche_item{
      height:100%;
      min-height: 30px;
      font-size: 17px;
      line-height: normal;
      color: #2b2a29;
      text-align: center;
      margin: 3px 0;
      padding: 3px 0 0 0;
      
}

#sche_item_b{
      font-size: 18px;
      line-height: normal;
      color: #2b2a29;
      font-weight: bold;
      text-align: center;
}

.schedule_th{
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}



/* Конец расписания */

/* Таблица */
    
.cont_price{
      top:100%;
      width: 100%;
      
}

.table_posit{
      top:100%;
      width: 100%;
      padding: 5px 0;
      
      border-spacing: 0 5px;
      border-collapse:separate;
          
}


#tab-h{
      color: #2b2a29;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      padding: 2px 5px;
      margin-top: 0;
      
}

#tab-h-p{
      font-size: 14px;
      line-height: normal;
      color: #2b2a29;
      font-weight: bold;
      text-align: center;
}

#tab_b{
      height:100%;
      min-height: 60px;
      font-size: 16px;
      line-height: normal;
      color: #2b2a29;
      font-weight: bold;
      text-align: center;
      background: #f0f0f0;
      margin: 3px 0;
}

#tab_n{
      height:100%;
      min-height: 30px;
      font-size: 17px;
      line-height: normal;
      color: #2b2a29;
      text-align: center;
      background: #f0f0f0;
      margin: 3px 0;
      padding: 3px 0 0 0;
      
}



#tab_n_n{
      height: 35px;
      font-size: 17px;
      line-height: normal;
      color: #2b2a29;
      text-align: left;
      background: #f0f0f0;
      padding: 3px 0 0 35px;
      margin: 3px 0;
      
}









#tab-h_invers{
      color: #2b2a29;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      padding: 15px 5px;
      margin-top: 0;
}
    
#tab_b_invers{
      height:100%;
      min-height: 60px;
      font-size: 16px;
      line-height: normal;
      color: #2b2a29;
      font-weight: bold;
      text-align: center;
      background: #fff;
      margin: 3px 0;
}

#tab_n_invers{
      height:60px;
      font-size: 17px;
      line-height: normal;
      color: #2b2a29;
      text-align: center;
      background: #fff;
      margin: 3px 0;
      padding: 3px 0 0 0;
      
}



#tab_n_n_invers{
      height:60px;
      font-size: 17px;
      line-height: normal;
      color: #2b2a29;
      text-align: left;
      background: #fff;
      padding: 3px 0 0 35px;
      margin: 3px 0;
      
}









.tab-block{
      height:100%;
      min-height: 30px;
      font-size: 12px;
      line-height: normal;
      color: #2b2a29;
      text-align: center;
      margin: 0 35px;
      
}

.tab-block-b{
      height:100%;
      min-height: 60px;
      font-size: 12px;
      line-height: normal;
      color: #2b2a29;
      text-align: center;
      margin: 0 35px;
}

#tab-b-n{
      font-size: 16px;
      line-height: normal;
      color: #2b2a29;
      font-weight: bold;
      text-align: center;
}

.btn{
    padding: 0 10px;
}

.btn-secondary{
    
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #416d75;
    margin: 3px 0;
}

.btn-secondary:hover {
    color: #a1fff1;
}



#cherta_tab{
        height: 3px;
        background-color: #f0f0f0;
        border-top: none;
        
}

caption {
      padding-top: 0;
      padding-bottom: 0;
}

/* Конец таблицы */

/* Карта */

.map{
      max-width: 1170px;
      width: 100%;
      height: 100%;      
      margin: 50px 0 0 0;
}

.contact_list{
    margin: 30px 0 0 0;
    padding: 30px 30px;
}

.map_text_b{
    font-size: 28px;
    font-weight: bold;
    color: #2b2a29;
    line-height: 70px;
    
}

.map_text_r{
    font-size: 23px;
    color: #2b2a29;
    
}

.map_text_social{
    letter-spacing: 5px;
    font-size: 28px;
    
    
    color: #2b2a29;
    
}


/* Конец блока Карт */

/* Тренеры */

.thumbnail{
        border: none;
}


@media screen and (max-width: 767px){
    .masonry[data-columns]::before {
        content: '1 .col-xs-12'
    }
}

@media screen and (min-width: 768px) and (max-width:991px){
    .masonry[data-columns]::before {
        content: '2 .col-xs-6'
    }
}

@media screen and (min-width: 992px) and (max-width:1199px){
    .masonry[data-columns]::before {
        content: '3 .col-xs-4'
    }
}

@media screen and (min-width: 1200px){
    .masonry[data-columns]::before {
        content: '3 .col-xs-4'
    }
}




.img_position{
         
         text-align: center;
}

#img_coach{
        
        border-radius: 50%;
        -webkit-box-shadow: 4px 5px 10px rgba(0,0,0, 0.5);
        -moz-box-shadow: 4px 5px 10px rgba(0,0,0, 0.5);
          -o-box-shadow: 4px 5px 10px rgba(0,0,0, 0.5);
             box-shadow: 4px 5px 10px rgba(0,0,0, 0.5);
}

.coach_name{
        color: #2b2a29;
        font-weight: bold;
        font-size: 28px;
        padding: 17px 0 3px 0;
        margin-bottom: 1px;
    
}

.coach_prof{
        color: #969696;
        font-size: 23px;
        margin: 0 0;
    
}

.coach_work{
        color: #969696;
        font-size: 20px;
    
}


/* Конец блока тренеров */

/* Дети */

#children_block{
    
    -webkit-box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
    -o-box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
    
}

.children_content{
        padding: 15px 0 0 0;
}

.chil_text{
     margin: 50px 0;
     padding: 0 30px;
     color: #2b2a29;
     font-size: 20px;
     text-indent: 50px;
     text-align: justify;
}


/* Конец блока Дети */

/* Контент */

#tab_text_down{
      font-size: 17px;
      font-weight: bold;
      line-height: normal;
      color: #2b2a29;
      text-align: justify;
      padding: 0 5px 35px 5px;
      
}


.special_offer{
      top:100%;
      width: 100%;
      height: 410px;
      background: #f0f0f0;
      padding: 25px 0 0 0;
}


.podark_card{
      top:100%;
      width: 100%;
      margin: 25px 0 5px 0;
      
}


#pod_card_text{
    text-align: center;
      
}

#pod_card_btn{
    margin: 15px 0;
    
}

.img-responsive{
    display: inline;
}


/* Конец контента */


/* Заметки */

.notes_white{
     height: 100%;
     margin: 20px 0;
}

.notes_grey{
     height: 100%;
     padding: 20px 0;
     background: #f0f0f0;
}


#img_notes{
    padding: 5px 0 15px 0;
    
}

#bold-h{
      color: #2b2a29;
      font-size: 22px;
      font-weight: bold;
      text-align: left;
      margin-top: 30px;
      padding: 10px 15px;
}

#regular-p{
      height: 100%;
      color: #484848;
      font-size: 22px;
      text-align: left;
      
      padding: 0 15px;
      
}



#bold-name{
      color: #2b2a29;
      font-size: 22px;
      font-weight: bold;
      text-align: center !important;
      padding: 20px 15px;
}

#regular-name{
      height: 100%;
      color: #484848;
      font-size: 22px;
      text-align: justify;
      text-indent: 50px;
      padding: 0 15px;
      
}

#more-name a{
      color: #0f846d;
      font-size: 22px;
      text-align: left;
      text-indent: 50px;
      padding: 0 15px;
      
}

#more-name a:hover{
      color: #0f846d;
      font-size: 22px;
      text-decoration: none;
}


/* Видеотрансляция */

.onlain-tr{
   
     color: #2b2a29;
     background: #f0f0f0;
     
     padding: 15px 0 40px 0;
}

#on-name{
     text-align: center;
     font-weight: bold;
     padding: 0 0 10px 0;
}

.embed-responsive-16by9{
     margin: 15px 0;
}







/* Подвал */

footer{
        background-color: #1c1c1c;
        height: 100%;
        padding: 50px 0 0 0;
        
}

.foot_content{
        padding: 0 10px;
}

.f_cont{
       padding: 15px 0;
}

.footer_bold{
        color: #fff;
        font-size: 25px;
        
}




#company a{
        color: #6e6e6e;
        text-decoration: none;
        
}

.vac{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
            text-align: right;
       
}

#vacancy a{
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        
}

        
}
#company_f {
        font-size: 16px;
        
}

#company{
        color: #6e6e6e;
}



/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoVK:hover {
	background-color: #55779b;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoInstagram:hover {
	background-color:#9b6752;
}
.social-network a.icoTripadvisor:hover {
	background-color:#589442;
}

.social-network a.icoVK:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoInstagram:hover i, .social-network a.icoTripadvisor:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #2b2a29;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.ico {
    
    background-color: #fff;   
}


/* Партнеры */

.partners{
        
        
        height: 100%;
        text-align: center;
        padding: 10px 0;
        vertical-align: bottom;
}

.part_img{
        padding: 10px 0;
        
}

@media screen and (max-width: 767px){
    .partners[data-columns]::before {
        content: '1 .col-xs-12'
    }
}

@media screen and (min-width: 768px) and (max-width:991px){
    .partners[data-columns]::before {
        content: '3 .col-xs-4'
    }
}

@media screen and (min-width: 992px) and (max-width:1199px){
    .partners[data-columns]::before {
        content: '3 .col-xs-4'
    }
}

@media screen and (min-width: 1200px){
    .partners[data-columns]::before {
        content: '6 .col-xs-2'
    }
}
