@charset "UTF-8"

/* Основа страницы */
    
html{
     height: 100%;
     font-size: 100%;
}        

body{
     font: 14px/32px 'Calibri', Arial;
     width: 100%;
     height: 100%;
     color: #fff;
     background: #fff;
}
/* Кнопка телефона */

#uptocall-mini {
    position:fixed;
    bottom:150px;
    right:93px;
    cursor:pointer;
    z-index:999;}
 
#uptocall-mini .uptocall-mini-phone {
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
    border-radius:50% !important;
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    background-color:rgba(255,192,0, .9);
    width:70px;
    height:70px;
    -webkit-animation: uptocallmini 1.5s 0s ease-out infinite;
    -moz-animation: uptocallmini 1.5s 0s ease-out infinite;
    animation: uptocallmini 1.5s 0s ease-out infinite;}
 
#uptocall-mini .uptocall-mini-phone:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-image:url('mini.png');
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-animation: uptocallphone 1.5s linear infinite;
    -moz-animation: uptocallphone 1.5s linear infinite;
    animation: uptocallphone 1.5s linear infinite;}
 
@-webkit-keyframes uptocallphone {
    0% {-ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25% {-ms-transform:rotate(30deg);
        -webkit-transform:rotate(30deg);transform:rotate(30deg);}
    50% {-ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);transform:rotate(0deg);}
    75% {-ms-transform:rotate(-30deg);
        -webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
    100% {-ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@-moz-keyframes uptocallphone {
    0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}
    50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
    100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@keyframes uptocallphone {
    0% {-ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);transform:rotate(0deg);}
    25% {-ms-transform:rotate(30deg);
        -webkit-transform:rotate(30deg);transform:rotate(30deg);}
    50% {-ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);transform:rotate(0deg);}
    75% {-ms-transform:rotate(-30deg);
        -webkit-transform:rotate(-30deg);transform:rotate(-30deg);}
    100% {-ms-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@-webkit-keyframes uptocallmini {
    0% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 0px rgba(0,0,0,0), 0 0 0px 0px rgba(23,167,167, 0);}
    10% {box-shadow: 0 0 8px 6px #ffc000, 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px #ffc000;}
    100% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 40px rgba(0,0,0,0), 0 0 0px 40px rgba(23,167,167, 0);}
}
@-moz-keyframes uptocallmini {
    0% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 0px rgba(0,0,0,0), 0 0 0px 0px rgba(23,167,167, 0);}
    10% {box-shadow: 0 0 8px 6px #ffc000, 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px #ffc000;}
    100% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 40px rgba(0,0,0,0), 0 0 0px 40px rgba(23,167,167, 0);}
}
@keyframes uptocallmini {
    0% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 0px rgba(0,0,0,0), 0 0 0px 0px rgba(23,167,167, 0);}
    10% {box-shadow: 0 0 8px 6px #ffc000, 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px #ffc000;}
    100% {box-shadow: 0 0 8px 6px rgba(23,167,167, 0), 0 0 0px 40px rgba(0,0,0,0), 0 0 0px 40px rgba(23,167,167, 0);}
}

/* Курсор для прокрутки */

.scrollup{
        z-index: 500;
        width:50px;
        height:50px;
        opacity: 0.7;
        position:fixed;
        bottom:50px;
        right:100px;
        display:none;
        text-indent:-9999px;
        background: url('icon_top.png') no-repeat;
        
}


/* Ссылки */

a {
     color: #2b2a29;
}

a:hover {
     color: #2b2a29;
}

a:focus{
     color: #2b2a29;
}



/* Линия для свзяи */

.communication{
     height: 52px;
     color: #2b2a29;
     background: #ffc000;
}


.contact{
     font-size: 14px;
     padding: 8px 0;
}

/* Социальные иконки */


.social_icon_list{margin: 0px;}
.social_icon_list.list-inline>li{padding: 0px;}

.social-icon{
    margin: 0 2px 0 0;
    width: 30px;
    height: 40px;
    font-size: 18px;
    line-height: 40px !important;
    color: #2b2a29;
    text-shadow: none;
    border-top-left-radius:     none;
    border-top-right-radius:    none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:  5px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    border: none;
    
}
.social-icon:hover {
    border-color: transparent;
    text-decoration: none;
}
.social-icon i {
    margin: 2px 0 0 0;
    display: block;
    font-size: 18px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 40px;
    position: relative;
}
.social-icon i:last-child {
    color: #FFF !important;
}
.social-icon:hover i:first-child {
    margin-top: -40px;
}

.si-vk,
.si-instagram,
.si-tripadvisor,
.si-facebook{
    padding: 3px 0 0 0;
    
}



.si-border {
    width: 30px;
    height: 40px;
}


/**Цвета социальных кнопок при наведении**/

.si-colored-vk,
.si-vk:hover {
    padding: 3px 0 0 0;
    background-color: #55779b !important;}

.si-colored-instagram,
.si-instagram:hover {
    background-color: #9b6752 !important;}

.si-colored-tripadvisor,
.si-tripadvisor:hover {
    background-color: #589442 !important;}

.si-colored-facebook,
.si-facebook:hover {
    background-color: #00539f !important;}



/* Меню */
/*Скрытое меню*/

.navbar-toggle{
    padding: 37px 10px 0 0;
}


.navbar-default .navbar-toggle {
  border-color: #2b2a29;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2b2a29;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2b2a29;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover{
  font-weight: bold;
  color: #f1a83b;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #f1a83b;
  font-weight: bold;
  background-color: transparent;
}


/*Меню фиксированное*/
.navbar.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1000;
}

/*Основное меню*/



.navbar{
       margin-bottom: 0;
       
}

.navbar-default{
    border-bottom: 3px solid #ffc000;
    background-color: #2b2a29;
    
    
}

.navbar-brand{
        float:left;
        height: 110px;
        padding: 0 0;
}

.navbar-right{
     margin-right: -40px;
}

.item-menu {
        font-size: 18px;
        margin: 30px 0 0 0;
}


/* Карусель фотографий */

#carousel{
     -webkit-box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
        -moz-box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
          -o-box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
             box-shadow: 0px 10px 10px rgba(0,0,0, 0.7);
}

/* Заголовок и контент */

.content{
     top:100%;
     left: 0;
     width: 100%;
     vertical-align: middle;
     margin: 20px 0 0 0;
     text-align: center;
     height: 150px;
     padding: 20px 0;
}

.content_other{
     top:100%;
     left: 0;
     width: 100%;
     vertical-align: middle;
     margin: 40px 0 0 0;
     text-align: center;
     
}

.name{
     color: #2b2a29;
     font-size:55px;
     font-weight: bold;
     line-height:normal;
     padding: 15px 5px 5px 5px;
     
}

.name_other{
     color: #fff;
     font-size:45px;
     font-weight: bold;
     line-height:normal;
     padding: 0 5px 25px 5px;
     
}

.name-little{
     color: #ffc000;
     font-size: 22px;
     font-weight: bold;
     padding: 0 0 11px 0;
}

.UP{
     color: #e3197f;
}

#cherta_ind{
        height: 2px;
        background-color: #2b2a29;
        border-top: none;
        margin: 10px 0 0 0;
        margin-bottom: 40px;
}

.content_price{
     position: absolute;
     left: 0;
     width: 100%;
     height: 150px;
     padding: 45px 0;
     
}


#cherta{
        height: 2px;
        background-color: #2b2a29;
        border-top: none;
        margin: 100px 0 0 0;
}


.name_price{
     color: #2b2a29;
     text-align: center;
     font-size:36px;
     font-weight: bold;
     line-height:normal;
}

/* Таблица */
.cont_price{
      top:100%;
      width: 100%;
      padding: 60px 0 0 0;
}

.table_posit{
      top:100%;
      width: 100%;
      padding: 5px 45px;
      
      border-spacing: 0 5px;
      border-collapse:separate;
          
}


#tab-h{
      color: #2b2a29;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      padding: 2px 5px;
      margin-top: 0;
      
}

#tab-h-p{
      font-size: 14px;
      line-height: normal;
      color: #2b2a29;
      font-weight: bold;
      text-align: center;
}

#tab_b{
      height:100%;
      min-height: 60px;
      font-size: 16px;
      line-height: normal;
      color: #2b2a29;
      font-weight: bold;
      text-align: center;
      background: #f0f0f0;
      margin: 3px 0;
}

#tab_n{
      height:100%;
      min-height: 30px;
      font-size: 17px;
      line-height: normal;
      color: #2b2a29;
      text-align: center;
      background: #f0f0f0;
      margin: 3px 0;
      padding: 3px 0 0 0;
      
}



#tab_n_n{
      height: 35px;
      font-size: 17px;
      line-height: normal;
      color: #2b2a29;
      text-align: left;
      background: #f0f0f0;
      padding: 3px 0 0 35px;
      margin: 3px 0;
      
}









#tab-h_invers{
      color: #2b2a29;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      padding: 15px 5px;
      margin-top: 0;
}
    
#tab_b_invers{
      height:100%;
      min-height: 60px;
      font-size: 16px;
      line-height: normal;
      color: #2b2a29;
      font-weight: bold;
      text-align: center;
      background: #fff;
      margin: 3px 0;
}

#tab_n_invers{
      height:60px;
      font-size: 17px;
      line-height: normal;
      color: #2b2a29;
      text-align: center;
      background: #fff;
      margin: 3px 0;
      padding: 3px 0 0 0;
      
}



#tab_n_n_invers{
      height:60px;
      font-size: 17px;
      line-height: normal;
      color: #2b2a29;
      text-align: left;
      background: #fff;
      padding: 3px 0 0 35px;
      margin: 3px 0;
      
}









.tab-block{
      height:100%;
      min-height: 30px;
      font-size: 12px;
      line-height: normal;
      color: #2b2a29;
      text-align: center;
      margin: 0 35px;
      
}

.tab-block-b{
      height:100%;
      min-height: 60px;
      font-size: 12px;
      line-height: normal;
      color: #2b2a29;
      text-align: center;
      margin: 0 35px;
}

#tab-b-n{
      font-size: 16px;
      line-height: normal;
      color: #2b2a29;
      font-weight: bold;
      text-align: center;
}

.btn{
    padding: 0 10px;
}

.btn-secondary{
    
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: #f1a83b;
    margin: 3px 0;
}

#cherta_tab{
        height: 3px;
        background-color: #f0f0f0;
        border-top: none;
        
}

caption {
      padding-top: 0;
      padding-bottom: 0;
}

/* Конец таблицы */

/* Карта */

.map{
    margin: 50px 0 0 0;
}

.contact_list{
    margin: 30px 0 0 0;
    padding: 30px 30px;
}

.map_text_b{
    font-size: 28px;
    font-weight: bold;
    color: #2b2a29;
    line-height: 70px;
    
}

.map_text_r{
    font-size: 23px;
    color: #2b2a29;
    
}

.map_text_social{
    letter-spacing: 5px;
    font-size: 28px;
    
    
    color: #2b2a29;
    
}


/* Конец блока Карт */

/* Тренеры */

.img_position{
         left: 0;
         width: 100%;
         height: 150px;
         padding: 45px 0;
         text-align: center;
}

#img_coach{
        margin: 35px 0 0 0;
        border-radius: 50%;
        -webkit-box-shadow: 4px 5px 10px rgba(0,0,0, 0.5);
        -moz-box-shadow: 4px 5px 10px rgba(0,0,0, 0.5);
          -o-box-shadow: 4px 5px 10px rgba(0,0,0, 0.5);
             box-shadow: 4px 5px 10px rgba(0,0,0, 0.5);
}

.coach_name{
        color: #2b2a29;
        font-weight: bold;
        font-size: 28px;
        padding: 17px 0 3px 0;
        margin-bottom: 1px;
    
}

.coach_prof{
        color: #969696;
        font-size: 23px;
        margin: 0 0;
    
}

.coach_work{
        color: #969696;
        font-size: 20px;
    
}


/* Конец блока тренеров */

/* Дети */

.children_block{
    margin: 70px 0 0 0;
}

.chil_text{
     margin: 50px 0;
     padding: 0 30px;
     color: #2b2a29;
     font-size: 20px;
     text-indent: 50px;
     text-align: justify;
}


/* Конец блока Дети */

/* Контент */

#tab_text_down{
      font-size: 17px;
      font-weight: bold;
      line-height: normal;
      color: #2b2a29;
      text-align: justify;
      padding: 0 35px 35px 35px;
      margin: 3px 0;
}


.special_offer{
      top:100%;
      width: 100%;
      height: 410px;
      background: #f0f0f0;
      padding: 25px 0 0 0;
}


.podark_card{
      top:100%;
      width: 100%;
      margin: 25px 0 5px 0;
      
}


#pod_card_text{
    text-align: center;
      
}

#pod_card_btn{
    margin: 15px 0;
    
}

.img-responsive{
    display: inline;
}


/* Конец контента */


/* Заметки */

.notes{
     margin: 25px 0 0 0;
}

.thumbnail {
      padding: 5px 5px;
      margin: 5px 0;
      margin-bottom: 80px;
      line-height: 1.4;
      height: 340px;
      max-height: 100%;
      background-color: transparent;
      background: #f0f0f0;
      border: none;
      
}

.caption #bold-name{
      color: #ffc000;
      font-size: 25px;
      font-weight: bold;
}

.caption #regular-name{
      color: #2b2a29;
      font-size: 16px;
}

.caption #more-name a{
      color: #75b1a9;
      font-weight: bold;
      font-size: 18px;
}

.caption #more-name a:hover{
      color: #e3197f;
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;
}


/* Видеотрансляция */

.onlain-tr{
   
     color: #2b2a29;
     background: #f0f0f0;
     
     padding: 15px 0 40px 0;
}

#on-name{
     text-align: center;
     font-weight: bold;
     padding: 0 0 10px 0;
}

.embed-responsive-16by9{
     margin: 15px 0;
}




/* Партнеры */

#slideout {
            z-index: 1000;
            position: fixed;
			top: 200px;
			left: 0;
			width: 35px;
			padding: 12px 0;
			text-align: center;
			background: #f1a83b;
              -webkit-transition-duration: 0.3s;
              -moz-transition-duration: 0.3s;
              -o-transition-duration: 0.3s;
              transition-duration: 0.3s;
            border-radius: 0 5px 5px 0;
}
#slideout_inner {
            z-index: 1000;
            position: fixed;
			top: 200px;
			left: -170px;
			background: #f0f0f0;
			width: 170px;
			text-align: center;
			height: 560px;
            padding: 15px 0;
            
              -webkit-transition-duration: 0.3s;
              -moz-transition-duration: 0.3s;
              -o-transition-duration: 0.3s;
              transition-duration: 0.3s;
            border-radius: 0 0 5px 0;
}
#slideout:hover {
  left: 170px;
    
}
#slideout:hover #slideout_inner {
  left: 0;
  
}

.logo_position{
            padding: 10px 0;
}


 



/* Подвал */

footer{
        background-color: #1c1c1c;
        height: 150px;
        min-height: 100%
}

.foot-text{
        padding: 50px 0;
        
        
}




#company a{
        color: #6e6e6e;
        text-decoration: none;
        
}

.vac{
        color: #fff;
        text-align: right !important;
        text-decoration: none;
        font-size: 16px;
}

#vacancy a{
        color: #fff;
        
        text-decoration: none;
        font-size: 16px;
        
}

#company_f {
        font-size: 16px;
        
}

#company{
        color: #6e6e6e;
}
