#AuthType Basic   
#AuthName "Private zone. Only for testing" 
#AuthUserFile /var/www/html_levelup76.beta/.htpasswd   
#require valid-user

Options FollowSymLinks
AddDefaultCharset utf-8

RewriteEngine on
RewriteRule  (.*)  public/$1 [L]
